".source.js":

	'Wux Weapp: $wuxDialog':
		'prefix': 'wuxDialog:prompt'
		'body': """
\$wuxDialog().prompt({
	title: '${1}',
	content: '${2}',
	fieldtype: '${3:text}',
	password: ${4:false},
	defaultText: '${5}',
	placeholder: '${6}',
	maxlength: ${7:-1},
	onConfirm(e, response) {
		$8
	},
})
		"""