".source.js":

	'Wux Weapp: $wuxToast':
		'prefix': 'wuxToast:cancel'
		'body': """
\$wuxToast().show({
	type: '${1:cancel}',
	duration: ${2:1500},
	color: '${3:#fff}',
	text: '${4}',
	success() {
		$5
	},
})
		"""