".text.html":

	'Wux Weapp: AnimationGroup':
		'prefix': 'w-animation-group:slideInUp'
		'body': """
<wux-animation-group ${1:classNames="wux-animate--${2:slideInUp}"} in="${3}">
	${0}
</wux-animation-group>
		"""