".text.html":

	'Wux Weapp: Cascader':
		'prefix': 'w-cascader:controlled'
		'body': """
<wux-cascader value="${1}" visible="${2}" ${3:title="${4}"} ${5:options="${6}"} controlled ${7:bind:change="${8:onCascaderChange}"} />
		"""