".text.html":

	'Wux Weapp: DatePicker':
		'prefix': 'w-date-picker:controlled'
		'body': """
<wux-date-picker ${1:mode="${2:datetime}"} value="${3}" visible="${4}" controlled ${5:bind:visibleChange="${6:onDatePickerVisibleChange}"} ${7:bind:change="${8:onDatePickerChange}"} />
		"""