".text.html":

	'Wux Weapp: FabButton':
		'prefix': 'w-fab-button:assertive-bottomRight'
		'body': """
<wux-fab-button ${1:theme="${2:assertive}"} ${3:position="${4:bottomRight}"} buttons="${5}" />
		"""