".text.html":

	'Wux Weapp: FabButton':
		'prefix': 'w-fab-button:controlled-royal-bottomRight'
		'body': """
<wux-fab-button ${1:theme="${2:royal}"} ${3:position="${4:bottomRight}"} buttons="${5}" visible="${6}" controlled ${7:bind:change="${8:onFabButtonChange}"} />
		"""