".text.html":

	'Wux Weapp: Pagination':
		'prefix': 'w-pagination:controlled'
		'body': """
<wux-pagination ${1:mode="${2:button}"} current="${3}" total="${4}" controlled ${5:bind:change="${6:onPaginationChange}"}>
	${7:<view slot="prev">${8:Prev}</view>}
	${9:<view slot="next">${10:Next}</view>}
</wux-pagination>
		"""