".text.html":

	'Wux Weapp: Popover':
		'prefix': 'w-popover:dark-leftBottom'
		'body': """
<wux-popover ${1:theme="${2:dark}"} ${3:placement="${4:leftBottom}"} ${5:title="${6}"} ${7:content="${8}"}>
	${0}
</wux-popover>
		"""