".text.html":

	'Wux Weapp: Selectable':
		'prefix': 'w-selectable:controlled-radio-light'
		'body': """
<wux-selectable ${1:type="${2:radio}"} ${3:color="${4:light}"} value="${5}" checked="${6}" controlled ${7:bind:change="${8:onSelectableChange}"} />
		"""