".text.html":

	'Wux Weapp: SegmentedControl':
		'prefix': 'w-segmented-control:controlled-dark'
		'body': """
<wux-segmented-control ${1:theme="${2:dark}"} current="${3}" values="${4}" controlled ${5:bind:change="${6:onSegmentChange}"} />
		"""