".text.html":

	'Wux Weapp: SegmentedControl':
		'prefix': 'w-segmented-control:controlled-assertive'
		'body': """
<wux-segmented-control ${1:theme="${2:assertive}"} current="${3}" values="${4}" controlled ${5:bind:change="${6:onSegmentChange}"} />
		"""