".text.html":

	'Wux Weapp: SegmentedControl':
		'prefix': 'w-segmented-control:energized'
		'body': """
<wux-segmented-control ${1:theme="${2:energized}"} defaultCurrent="${3}" values="${4}" />
		"""