".text.html":

	'Wux Weapp: TabBar':
		'prefix': 'w-tabbar:controlled-assertive'
		'body': """
<wux-tabbar ${1:theme="${2:assertive}"} current="${3}" controlled ${4:bind:change="${5:onTabBarChange}"}>
	${0}
</wux-tabbar>
		"""