".text.html":

	'Wux Weapp: Tabs':
		'prefix': 'w-tabs:controlled'
		'body': """
<wux-tabs ${1:theme="${2:balanced}"} current="${3}" controlled ${4:bind:change="${5:onTabsChange}"}>
	${0}
</wux-tabs>
		"""